@import "tailwindcss";

@theme {
  --color-eBlue: #051B75;
  --color-eYellow: #C9D039;
  --color-eGrey: #E9E9E9;
  --color-eWhite: #EAEAEA;
  --shadow-eButton: 0px 0px 12px 5px rgba(5,27,117,0.10); 
  --shadow-eBox: 0 25px 50px -12px rgba(5, 27, 117, 0.35);
}


*{
  padding: 0;
  
  
  font-family: "Jockey One", sans-serif;
}

.bgLinear{
  background: #C9D039;
  background: linear-gradient(90deg, rgba(201, 208, 57, 1) 0%, rgba(5, 27, 117, 1) 70%);
}

.no-scrollbar {
  overflow: auto;                 /* or scroll, if you always want the scrollbar space */
  -ms-overflow-style: none;      /* IE and Edge */
  scrollbar-width: none;         /* Firefox */
}

/* Chrome, Safari, Brave, Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.jockey-one-regular {
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.eLinear {
  background: #051B75;
  background: linear-gradient(148deg,rgba(5, 27, 117, 1) 0%, rgba(234, 234, 234, 1) 65%);
}



.funnel-sans-550 {
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
}


.roboto-550 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
