@import "tailwindcss";

@theme {
  --color-eBlue: #051B75;
  --color-eYellow: #C9D039;
  --color-eGrey: #E9E9E9;
  --color-eWhite: #EAEAEA;

}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jockey One", sans-serif;
}

.no-scrollbar {
  overflow: auto;                 /* or scroll, if you always want the scrollbar space */
  -ms-overflow-style: none;      /* IE and Edge */
  scrollbar-width: none;         /* Firefox */
}

/* Chrome, Safari, Brave, Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.jockey-one-regular {
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.funnel-sans-550 {
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
}


.roboto-550 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
